body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #866804;
    background-image: url("img/download\ \(3\).jfif");
    background-repeat: no-repeat;
    background-size: 160%;
}

header {
    background-color: #53411b;
    color: white;
    text-align: center;
    padding: 2rem;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.sobre-mim, .habilidades, .contato {
    background-color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #502c2c;
}

.habilidades ul {
    list-style-type: none;
    padding: 0;
}

.habilidades li {
    background-color: #ecf0f1;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5rem 0 0.2rem;
}

input, textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: #502c2c;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #9c5656;
}

